/* header */
header {
    height: 70px;
    font-size: 16px;
}

footer {
    padding: 20px 0;
}

header .container {
    width: 1000px;
}

.navbar-brand {
    color: #fff !important;
}

header .nav-segment {
    background: #191e28;
    margin-top: 4px;
}

.btn-wallet-connect {
    margin-top: 4px;
    font-size: 14px;
}

.pool-icon {
    padding: 8px 11px;
    font-size: 24px;
    color: #fff;
}

/* home */
#home-introduction {
    margin-top: 100px;
    margin-bottom: 100px;
}

#home-ballots {
    margin-top: 50px;
}

.mt-15 {
    margin-top: 4rem !important;
}

.mb-15 {
    margin-bottom: 4rem !important;
}

.btn-block {
    display: block;
    width: 100%;
}

.ml-2 {
    margin-left: 10px;
}