/* header */
header {
    height: 70px;
    font-size: 16px;
}

footer {
    padding: 20px 0;
}

header .container {
    width: 1000px;
}

.navbar-brand {
    color: #333 !important;
}

.btn-wallet-connect {
    margin-top: 7px;
    font-size: 14px;
}

.pool-icon {
    padding: 8px 11px;
    font-size: 24px;
    color: #fff;
}

/* home */
#home-introduction {
    margin-top: 100px;
    margin-bottom: 100px;
}

#home-ballots {
    margin-top: 50px;
}

.mt-15 {
    margin-top: 6rem !important;
}

.mb-15 {
    margin-bottom: 6rem !important;
}